.json-formatter {
  display: flex;
  flex-direction: column;
}

.json-formatter .error-wrapper {
  min-height: 74px;
}

.json-formatter .error {
  color: red;
  width: 80vw;
  max-width: 40rem;
}

.json-formatter textarea {
  width: 80vw;
  max-width: 40rem;
  height: 30vh;
  max-height: 12rem;
  background-color: #232c34;
  color: #eee;
  border: none;
  margin-bottom: 2rem;
  padding: 0.25rem;
  resize: none;
  overflow: auto;
}

.json-formatter .output {
  width: 80vw;
  max-width: 40rem;
  height: 60vh;
  max-height: 30rem;
  background-color: #232c34;
  color: #eee;
  border: none;
  margin-bottom: 2rem;
  padding: 0.25rem;
  margin-top: 0;
  overflow: auto;
}

.json-formatter .output .bad-line {
  background-color: rgba(255, 0, 0, 0.5);
}

.json-formatter .output .bad-letter {
  color: red;
  background-color: black;
}
